# Data Science Tools and Ecosystem

## Author:
Mukundan Kuthalam

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List popular open-source tools for Data Science
- Demonstrate arithmetic expressions with a couple of examples

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib

| Data Science Tools |
| ------------------ |
| ElasticSearch |
| Apache Spark |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
print(str(200/60) + " hours")

3.3333333333333335 hours